$--bs-link-color: #000000;
$link-color: #000000;
$transparent-background: #d9eff0c4;
@use "sass:map";
@import 'components/cards';
@import 'components/navbar';
@import 'components/search';
@import 'components/myPage';
@import 'components/commentSection';

body {

    min-height: 105vh;
}


h1 {
    font-size: 180px
}
$brand-color: #0000;

$secondary: #bac4c1;
$bs-btn-border-color: #fff;

$bs-link-hover-color: #879091 ;
a:hover {

    color: #000000
}
a {
    color: #000000
}

link.link-element {
    color: #000000
}

.link-element {
    color: #000000
}

.link-element:hover {
    color: #636305
}




@import "../node_modules/bootstrap/scss/bootstrap.scss";


$font-weights: ("regular": 400, "medium": 700, "bold": 700);

$bs-link-color: #000000;

body {
    min-height: 105vh;
    overflow-x: hidden;


//path same folder indent into
  // background-image:  url("./images/low-res-marble-with-golden-texture-background.jpg");
  // background-image: url(//y/src/images/low-res-marble-with-golden-texture-background.jpg);


  //background-image: url(//y/scss/images/low-res-marble-with-golden-texture-background.jpg);
 // background-image:  url(./low-res-marble-with-golden-texture-background.jpg);
//background-image: url(.//images/low-res-marble-with-golden-texture-background.jpg);
//, url(./images/high-res-\ marble-with-golden-texture-background.jpg);
//, url(./images/high-res-\ marble-with-golden-texture-background.jpg);
background-image: url(./low-res-white-marble-texture.jpg);
  
  
  // background:url("//y/src/images/low-res-marble-with-golden-texture-background.jpg") ;

background-repeat: repeat-3, repeat-3;
 
 
   //, url(./images/high-res-\ marble-with-golden-texture-background.jpg);
   
   //, url("./images/high-res-\ marble-with-golden-texture-background.jpg");
}



h1 {

    font-weight: map.get($font-weights, "medium"); // 500
}





Link:hover {
    color: #868686;


}

//use value that can be written multiples and then changed singularily , we have map.get and variable $, there are values top level
//we have hierarchy, different to communicate





//values for components::after




img.profile-avatar-image {

    width: 90px;
    height: 90px;
     
    border-radius: 50%;
    border: 3px solid #361616;
    //filter: sepia(50%);
    //filter: saturate(0%);

}




.profile-row {

    width: auto;
    max-width: 400px;
    margin: 0 auto;
    --bs-gutter-x: 0rem;
}



.email-tag {

    color: #7a6b6b;
    display: inline;
    
}



.follow-button {
margin-top: -5px;
font-size: 14px;
    border: none;
background-color: #d6cdcd00;
    border: solid #000000 2px;
    border-radius: 10px;
    padding: 5px
};

//parent container always control and is one source for information
.follow-button:hover {
    background-color: #f3f3f3;
    background-color: #f3f3f3;

    border: none;

    border: solid #194153 2px;
    border-radius: 10px;
  
    background-color: #000000;
    color: #fff;
};







p.comment-section {
    margin-bottom: 0px;
}



.login-form {

    width: 500px;
    margin: 0 auto;


 
}


form {

    button {


        width: 200px;
    }


    a {

        color: #000000;
    }
}



.submit-button-login {

    width: 200px;
    //border-bottom: 2px solid rgb(115, 115, 116);
    background-color: #ffffff00;
    box-shadow: 2px 2px 2px 2px #a53a3a00;

    border:solid 1px  #b6b6b6;
    text-align: center;
   

}


.submit-button-login:hover {

    color: #fff;
    background-color:black ;
}


.all-container.list-posts-all {


    max-width: 400px;

}

.list-posts-all-rows {

    max-width: 350px;
}

.all-container.list-posts-all.all-post-rows {

    max-width: 300px;
}
.all-post-rows {

    max-width: 300px;
}


.all-container {
    margin-top: 100px;
    padding: 20px;
    padding-right: 0px;

    display: inline-block;
  word-break: unset;
  text-align: left;

  width: 70vw;
  min-width: 200px;
  max-width: 800px;

  background-color: $transparent-background;

.profiles-container-child {

    margin: 0 auto;
    display: flex;
    width: 50%;
    
}

  .p-1 {
    margin-bottom: 40px;
    height: 40px;
    margin: 50px;


  }
  .p-1:nth-child(even) {


    background-color: #f1f1f7;
  }

}


.w-50 {width: 100% !important;}



.login-heading {

    border-bottom: 2px rgb(243, 217, 73) solid;
    border-top: 15px;
    border-top-right-radius: 50px;
    color: #686767;
    
}


.card {
    width: 500px;
}




.comments.p-5 {

    
    background-color: #f0ecec;
}






textarea.body {

    resize: none;
    height: 200px;
    max-width: 400px;
    width: 40vw;
    min-width: 200px;
}



.display-post-container {

    margin: 2vw;
}

.post-container {


    input {
        max-width: 400px;
        width: 40vw;
        min-width: 200px;
    }
}


.border-post-container {

    border: 5px solid #00000071;
    width: 30%;
    display: flexbox;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 150px;
    max-width: 400px;
    

    button {

        border:solid  4px #55363654;
        padding: 15px;
        background-color: #00000093;
        color: white;
        box-shadow: 2px 2px 2px #000000;
    }

    button:hover {

        border:solid  4px #55363654;
        padding: 15px;
        background-color: #ffffff93;
        color: rgb(0, 0, 0);
    }
}

a:hover {

    color: gray;
}


link:hover {

    color: gray;
    background-color: #000000;

}

nav {

    button:hover {
        background-color: #000000;
        color: black;
    }


    .active {

        color: #f5f53a;
        background-color: #f3e8e8;
        
       
    }
    .btn:hover {
 color: black;
 background-color: #000000;
    }
}
button:hover 


.edit-profile-banner-avatar {

    margin-bottom: 100px;
}

edit-save-confirm {

    margin: 20px;
    padding: 10px;
}
//change edit banner to not distort
//--bs-link-hover-color: black;









link:hover {
    color: #717575;
    background-color: #000000;
}

link {

    color: #000000;
}


.nav-navigation {

    link:hover {

        color: #717575;
        background-color: #000000;
    }
    a {
        margin: 0 auto;

    }
}


.commentsection-specificpost-container#specificpost {


    img {
        max-width: 70px;
        max-height: 70px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
}

img.post-image-card {

    padding-left: 27px;
}
.comment-section.container {


    img {
        max-width: 200px;
    }
}

.col-lg-3.p-0 

{display: inherit; 

a {
    width: 100px;
    height: 100px;
}
img {
    width: 70px;
    height: 70px;
}


}


.profile-card-container {

    max-height: 80px;
}


.under-avatar-username {

    display: none;
}

@media only screen and (max-width: 600px) {

.side-avatar-username {

    display: none;
    margin-left: 0px;
}

.under-avatar-username {
    display: block;
    text-align: center;
    .mt-2.fw-bold.text-start {
        text-align: center;
    }



}


.col-lg-3.p-0 {

    margin: 0 auto;
    width: 70px;
    display: block;
    max-height: 80px;
}

.side-avatar-username {
    margin-left: 0px;
}

.col-sm-9.side-avatar-username {
   
    text-align: center;
    margin-right: -50px;
    margin-left: 0px;
}

.follow-container {
    text-align: center;
    margin-bottom: 20px;
}

    .post-image-card {

        margin-top: 50px;
        padding-left: 27px;

        img {

            padding-left: 23px;
        }
    }


    .post-image-card img {

        padding-left: 23px;
    }
     
.all-profiles-container {

    .profiles-container-child {

        width: 100%;
    }


width: 80vw;

        .p-1 {   margin-left: 0px;   }
    
    
    }
}


img.nav-avatar {
    margin: 0 auto;
    display: flex;
    margin-top: 2px;
    border-style: none;
    outline: none;

  
}

img.nav-avatar[src="nothing"] {

display: none !important;

  }

.logo:hover {


    filter: invert(100%);
    border: solid 5px  #ffffff;
}

.post-container {

    background-color: #fff;

    input {
        border: none;
        margin-top: 20px;
        background: none;
        width: 80%;
        padding: 20px;
    }

    textarea {

        border: none;
        background: none;
        width: 88%;
        padding: 30px;
    }
}


.symbol:hover {

    cursor: pointer;
}

.comment-input-container {


    textarea {
 
    min-width: 200px;
    width: 30vw;
    max-width: 300px;
    display: block;
    display: flexbox;
    margin: 0 auto;
    border-bottom: 2px solid #000000;
    margin-bottom: 10px;
}

}


.replyComment {

textArea {
    border-bottom: 2px solid #dbdbdb;
    margin-bottom: 7px;
    
}


}


.profile-card-container-outline {

   
}

.loading-container {

    margin-top: 200px;
}



.spinner-symbol {

    width: 200px;
    height: 200px;
}

.follow-container-pill {

    padding: 0px;
}


.error-message {

    margin-top: 100px;
    background-color: rgb(226, 229, 235);
    padding: 30px;
}

footer {
    margin-top: 90vh;
    margin-bottom: 0px;
}




.emoji-reaction-container {

    border-bottom: 2px solid black;
    margin-bottom: 50px;
}



.replyComment {

    textarea {
        height: 20px;
        scroll-behavior: none;
        overflow: hidden;
        resize: none;
        padding: 20px;
    }

    
    textarea:focus {
        height: 20px;
        scroll-behavior: none;
        overflow: hidden;
        resize: none;
        padding: 20px;
        border-bottom: 2px solid black;
        border-right:2px solid black ;
        outline: none;
        margin-top: 5px;
    }
}


.register-container {

    h1 {

        text-decoration: underline;
        text-decoration-color: rgb(212, 212, 7);
        margin-bottom: 20px;
    }

    width: 500px;
    background-color: #edf4f8;
    margin: 0 auto;
    display: flexbox;
    margin-top: 100px;
    padding: 50px;
    

    input {

        margin-bottom: 10px;
    }

    .register-button-value {

   
        background-color: #ebeff5;
        display: block;
        width: 150px;
        display: flexbox;
        margin: 0 auto;
        border: none;
        box-shadow: 2px 1px 1px 1px #c8c9c3;
        color: rgb(104, 104, 104);
        margin-top: 18px;




    }
}



.profile-radius {

.comment-section.container {


    img {
        width: 70px;
        height: 70px;
    }
}




  
}



.row.pt-5 {

    img {

        max-width: 70px;
        max-height: 70px ;
    }
}



.info-text.banner-avatar {


    background-color: #dbe4e6;
    margin: 0px;

}