.bannerrrrr

.edit-banner {

    img {


        width: 700px;
    }
}

//add postlink on myprofile, there you go to specific posst with comment section and all
//add url to peoples profiles


.edit-banner {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    padding: 0px;
     height: 200px;
    img {
      width: 100vw;

        margin: 0 auto;
        display: flexbox;
        max-width: none;
        height: auto;
         
        height: 100%;
        object-fit: cover;
   
       
    }
}



.card.my-page-container {

    width: 60vw;
    max-width: none;
}

