

div.select {
    width:180px;
    margin: 0 auto;
    margin-top: 10px;
}


.pt-4 h1 {
    margin-top: 50px;
    color:  rgba(97, 97, 97, 0.842);
}




.search-container  {




    width: 80vw;
    max-width: 600px;
    min-width: 200px;
    margin: 0 auto;
    padding-top: 0px;
 

    background-color: rgba(97, 97, 97, 0.842);
}


.search-return-items {

    background-color: rgb(255, 255, 255);

    margin: 0 auto;
    margin-top: 25px;

    padding: 20px;
    padding-top: 30px;
    padding-bottom: 200px;
   text-align: left;
    
}


.search-input {

    margin-top: 30px;
}


.search-column {

width: 300px;
margin: 0 auto;
margin-left: 12vw;

}




.search-item-container:nth-child(even) {


    background-color: rgba(0, 0, 0, 0.068);
}